extends layout

block content

  div.container
    div.row
      div.col-10.m-auto
        h5.col-xs-12= patient.firstname + ' ' + patient.lastname
        p#age.col-xs-12
        p#dob(hidden)= patient.dob
        p#id= "Hospital ID: " + patient.patient_id
    hr
    br

    div.row
      table.table.table-striped.table-bodered.col-10.m-auto
        thead.thead-dark
          tr
            th Date Last Updated
            th Action
        tbody
        each consultation in patient.consultations
          tr
            td= consultation.updatedAt.toString().substr(0, 16)
            td
              a.btn.btn-primary(href="/patients/#{patient.patient_id}/consultations/#{consultation.id}") Open

    script.
      var use = '#{user.username}'.toString()
      
    script(src='/javascripts/login.js')
    script(src ='/javascripts/patientview.js')
    script(src ='/javascripts/consultations.js')
