extends layout

block content

  div.container
    div.row
      div.col-3
        img.img-thumbnail.col-12(src="data: #{patient.picture.contentType};base64, #{patient.picture.data.toString('base64')}" height='250' width='250')
      div.col-12.col-md-7.col-sm-offset-5
        h1.col-xs-12= patient.firstname + ' ' + patient.lastname
        p#age.col-xs-12
        p#dob(hidden)= patient.dob
        p#id= "Hospital ID: " + patient.patient_id
    hr
    br
    br

    div.row
      h2.col-12 Patient's Vitals
      h6.col-12= "Weight: " + consultation.weight + " Kg"
      br
      br

      h6.col-12= "Blood Pressure: " + consultation.bloodPressure + " mmHg"
      br
      br
      h6.col-12= "Temperature: " + consultation.temperature +" "
        | &degC
      br
      br

      h6.col-12= "Heart Rate: " + consultation.heartRate + " bpm"
      br
      br
      form
        button.m-3.btn.btn-info#revw( formmenthod="get" formaction='/patients/#{patient.patient_id}/consultations/#{consultation.id}/laboratory/findings/review' disabled) Review Lab Results
    hr

    div.row.form-group
      form(method="post", action="/patients/#{patient.patient_id}/consultations/#{consultation.id}")
        section#note
          h2 Doctor's Note and Observations
          br
          br
          textarea#drnote(name="doctorsNote" rows=10 cols=100 required)= consultation.doctorsNote
          hr
          br
        section#prescription
          h2 Prescription
          br
          br
          textarea#drugs(name="drugs" rows=10 cols=100 required)= consultation.prescription.drugs
          hr
          br

        section#lab
          h2 Laboratory Tests & Scans
          br
          br
          textarea#tests(name="tests" rows=10 cols=100 required)= consultation.labInvestigation.tests
          hr
        br
        br
        button.btn.btn-primary.col-2(type="button" onClick="goBack()") Back
        button.btn.btn-primary.col-2.float-right(type="submit") Save
    form(method="post", action="/doctors_office/#{patient.patient_id}/#{consultation._id}")
      button.btn.btn-primary(type="submit") Send to Pharmacy & Lab
    
    br

    script.
      var use = '#{user.username}'.toString()
      var revbutton = document.getElementById('revw')
      var findings = '#{consultation.labInvestigation.findings}'.toString()
      console.log(findings)
      if (findings != 'No Entry') {
        revbutton.disabled = false

      }
      else {
        revbutton.disabled = true
      }



    script(src='/javascripts/login.js')
    script(src ='/javascripts/consultation.js')

