extends layout

block content

  div.container
    div.row
      img.col-12.col-md-4(width='200' height='210')
      div.col-12.col-md-7.col-sm-offset-5
        h1.col-xs-12= patient.firstname + ' ' + patient.lastname
        p#age.col-xs-12
        p#dob(hidden)= patient.dob
        p#id= "Hospital ID: " + patient.patient_id
    hr
    br
    br

    div.row
      h2 Consultations
      br
      br
    each consultation in patient.consultations.reverse()
      div#consult.row
        h5#consdate.col-12.col-md-5= consultation.createdAt
        br
        form.col-12.col-md-3(method="get" action="/patients/#{patient.patient_id}/consultations/#{patient.createdAt}")
          button(type="submit") Continue Consultation
        br

    script(src ='/javascripts/patientview.js')
    script.
      var p = new String (#{patient.consultations[1].createdAt}))
      console.log(p)
