extends layout

block content

  div.container
    div.row
      h5.col-12.text-info
        em= message
      div.list-group.col-12
        ol
          each patient in patientlist
            li.list-group-item.col-9.offset-1
              div.row
                div.col-12
                  h5= patient.firstname + ' ' + patient.lastname
                    span.badge= ' (Hospital ID:' + patient.patient_id + ')'
                  form(method="get", action="/patients/#{patient.patient_id}/recordvitals")
                    button.btn.btn-primary.float-right(type="submit") Record Vitals
      br


    script.
      var use = '#{user.username}'.toString()
    script(src='/javascripts/login.js')
