extends layout

block content
	div.container
		div.row
			p= message
			table.table.table-striped.table-bodered.col-12.m-auto
				thead.thead-dark
					tr
						th Patient Name
						th Hospital ID
						th Action
						th Action
				tbody
				each patient in patientlist
					tr
						td= patient.firstname + ' ' + patient.lastname
						td= patient.patient_id
						td
							form
								button.btn.btn-sm(type='submit' formaction='/consultationlist/frontdesk/#{patient.patient_id}', formmethod='post') Send to Nurses
						td
							form
								button.btn.btn-sm(type='submit' formaction='/consultationlist/nurses/#{patient.patient_id}', formmethod='post') Send to Doctors
	script.
		var use = '#{user.username}'.toString()
		
	script(src='/javascripts/login.js')