extends layout

block content

  div.container
    div.row
      img.col-xs-12.col-md-4(width='200' height='210')
      div.col-xs-12.col-md-7.col-sm-offset-5
        h1.col-xs-12= patient_details[0].firstname + ' ' + patient_details[0].lastname
        p#address= "Address: " + patient_details[0].address
        p#age.col-xs-12
        p#id= "Hospital ID: " + patient_details[0].patient_id
        p#email= "Email Address: " + patient_details[0].email
        p#phone= "Phone Number: " + patient_details[0].phone
        p#nok= "Next of Kin: " + patient_details[0].nokName
        hr
      form#vitalsButton(method"get", action="/consultation")
          input.btn.btn-primary(type='button' value='Record Vitals' onClick="showVitalsForm()")
    br
    br

  div.form-group.form-control
    form#vitalsform(method="post", action="/patients/#{patient_details[0].patient_id}/consultations" hidden)
      label(for="weight") Weight(KG):
      input#weight(type="text" name="weight")
      br
      br

      label(for="bp") Blood Pressure:
      input#bp(type="text" name="bloodPressure")
      br
      br

      label(for="temp") Temperature(C):
      input#temp(type="text" name="temperature")
      br
      br

      label(for="heartrate") Heart Rate:
      input#temp(type="text" name="heartRate")
      br
      br

      input.btn.btn-primary(type='submit' value='Save')



      p#dob(hidden)= patient_details[0].dob


      script(src ='/javascripts/patientview.js')
