extends layout

block content

  div.container
    div.row
      div
        h3.col-xs-12= patient_details[0].firstname + ' ' + patient_details[0].lastname
          span.badge= " (Hospital ID: " + patient_details[0].patient_id + ")"
          h5#age.col-xs-12
          h5#phone= "Phone Number: " + patient_details[0].phone
          h5#addres= "Contact Address: " + patient_details[0].address
          h5#nok= "Next of Kin (Name): " + patient_details[0].nokName
        br
        br

        form(method="post", action="/front_desk/send")
          button.btn.btn-primary(type="submit") Send to Nurses' Station

    div.row.form-group.col-12(hidden)
        form#vitalsform(method="post", action="/nurses_station")
          p.btn-success Vitals Form
          div
            label(for="weight") Weight:
            input#weight(type="text" name="weight" placeholder="Weight(KG)")
            label(for="blppdPressure") Blood Pressure:
            input#bp(type="text" name="bloodPressure" placeholder="Blood Pressure(mmHg)")
            br
            br
            label(for="temperature") Temperature:
            input#temp(type="text" name="temperature" placeholder="Temperature(C)")
            label(for="heartrate") Heart Rate:
            input#temp(type="text" name="heartRate" placeholder="Heart Rate(BPM)")
          input.col-12.btn.btn-primary(type='submit' value='Save')
    br
    br



    p#dob(hidden)= patient_details[0].dob


    script(src ='/javascripts/patientview.js')
