extends layout

block content

  div.container
    div.row
      h5.col-12.text-info
        em= message

      div.col-3
        img.img-thumbnail.d-none.d-md-block(src="data: #{patient.picture.contentType};base64, #{patient.picture.data.toString('base64')}" height=200 width=200)

      div.col-12.col-lg-7
        h3.col-xs-12= patient.firstname + ' ' + patient.lastname
          span= " (Hospital ID: " + patient.patient_id + ")"
          h5#age.col-xs-12
          h5#phone= "Phone Number: " + patient.phone
          h5#addres= "Contact Address: " + patient.address
          h5#nok= "Next of Kin (Name): " + patient.nokName
      br
      br

      form.col-12.my-2(method="post", action="/front_desk/send/#{patient.patient_id}")
        button.btn.btn-primary(type="submit") Send to Nurses' Station
      br
      br

    p#dob(hidden)= patient.dob

    br



    script.
      var use = '#{user.username}'.toString()
      
    script(src='/javascripts/login.js')
    script(src ='/javascripts/patientview.js')
