extends Layout

block content
	div.container
		div.row
			section.col-12.alert-primary.p-2.mx-auto.mb-2
				h5.text-center= patient.firstname + " " + patient.lastname + " - ID: " + patient.patient_id
			
			div.card.col-5.mx-auto.my-2
				div.card-header.text-center
					h6 Account Summary
				div.card-body
					h6 Total Due: 
						span.badge.badge-primary.float-right= patient.totalDue
					h6 Total Amount Paid (to-date): 
						span.badge.badge-success.float-right= patient.totalPaid
					h6 Outstanding Account Balance: 
						span.badge.badge-danger.float-right= patient.totalBalance
					br

					a(href='/patients/#{patient.patient_id}/accountsummary') View Details
					br
					br
					
					p#lastdate Last updated:  
						span#update


					form.m-2
						button.btn.btn-sm.btn-primary(type='submit' formmethod='post' formaction='/patients/#{patient.patient_id}/accountsummary') Update Account


			form.form-group.col-6.m-auto.border.bg-secondary(method='post' action='/patients/#{patient.patient_id}/record_payment')
				fieldset
					legend.text-center.m-3.bg-info Record Payment Details
					textarea.form-control.mx-auto.my-2(cols=10 rows=10 name='description' placeholder='Payment Description')
					input.form-control.mx-auto.my-2#cost(type='number' name='cost' placeholder='Amount Due')
					input.form-control.mx-auto.my-2#amtpaid(type='number' name='amountPaid' placeholder='Amount Paid')
					input.form-control.mx-auto.my-2#balance(type='number' name='balance' placeholder='Balance' onfocus="getBalance()")
					button.btn.btn-primary.form-control.m-auto(type="submit") Save

	script.
		var use = '#{user.username}'.toString()

	script(src='/javascripts/login.js')
	script(src='/javascripts/script2.js')