extends layout

block content

  div.container.list-group
    ol
      each patient in patientlist
        li.list-group-item.col-9.offset-1
          div.row
            div.col-12
              h5= patient.firstname + ' ' + patient.lastname
                span.badge= ' (Hospital ID:' + patient.patient_id + ')'
              h6= patient.consultations[0].updatedAt
              form(method="get", action="/patients/#{patient.patient_id}/consultations/#{patient.consultations[0]._id}/pharmacy")
                button.btn.btn-primary.float-right(type="submit") Display Consultation

  br
  
  footer

  script(src ='/javascripts/patientview.js')
