extends layout

block content
	div.container
		div.row
			div.col-12
				h2.text-center= patient.firstname + " " + patient.lastname
			div.col-12

			div.col-12.text-white.bg-secondary
				h4.text-center= "Date: " + patient.consultations[0].updatedAt.toString().slice(0, 15)

				h4.text-center Prescription

			form.w-100(method="post" action="/patients/#{patient.patient_id}/consultations/#{consultation._id}/pharmacy")
				table.w-100
					thead
						th Prescription
						th Total Payment Due (Naira)
						th Amount Paid (Naira)
						th Balance (Naira)
					tbody
						tr
							td
								textarea(rows=7 cols=50 disabled)= consultation.prescription.drugs
								textarea(rows=7 cols=50 disabled)= consultation.otherPayment[0].description
							td
								input.m-auto.form-control#cost1(type='number' name="cost" value='#{consultation.prescription.cost}')
								input.m-auto.form-control#cost1(type='number' name="cost1" value='#{consultation.otherPayment[0].cost}')
							td
								input.m-auto.form-control#amtpaid(type='number' name='amountPaid' value='#{consultation.prescription.amountPaid}')
								input.m-auto.form-control#amtpaid1(type='number' name='amountPaid1' value='#{consultation.otherPayment[0].amountPaid}')
							td
								input.m-auto.form-control#balance(type='number' name='balance' onfocus="getBalance()" value='#{consultation.prescription.balance}')
								input.m-auto.form-control#balance1(type='number' name='balance1' onfocus="getBalance()" value='#{consultation.otherPayment[0].balance}')

				br
				br

				input.btn.btn-primary(type="submit" value="Exit" formaction='/pharmacy/#{patient.patient_id}', formmethod='post')
				input.btn.btn-primary.float-right(type='submit' value="Save")


	script.
		var use ='#{user.username}'.toString()
	script(src='/javascripts/login.js')
	script(src='/javascripts/script.js')

