extends layout

block content

  div.container
    div.row
      table.table-striped.table-bodered.col-10.m-auto
        thead.thead-dark
          tr
            th Patient Name
            th Hospital ID
            th Date 
            th Action
        tbody
        each patient in patients
          tr
            td= patient.firstname + ' ' + patient.lastname
            td= patient.patient_id
            td= patient.consultations[0].updatedAt.toString().substr(0, 16)
            td
              a.btn.btn-sm.btn-primary(href="/patients/#{patient.patient_id}/consultations/#{patient.consultations[0]._id}/pharmacy") Open

    script.
      var use = '#{user.username}'.toString()
    script(src='/javascripts/login.js')