extends layout

block content
	div.container
		div.row
			div.col-12
				h2.text-center= patient.firstname + " " + patient.lastname
			div.col-12

			div.col-12.text-white.bg-secondary
				h4.text-center= "Date: " + patient.consultations[0].updatedAt.toString().slice(0, 15)

				h4.text-center Prescription

			form.w-100(method="post" action="/patients/#{patient.patient_id}/consultations/#{consultation._id}/pharmacy")
				table.w-100
					thead
						th Prescription
						th Total Payment Due (Naira)
						th Amount Paid (Naira)
						th Balance (Naira)
					tbody
						tr
							td
								textarea(rows=7 cols=50)= consultation.prescription.drugs
							td
								input.m-auto.form-control#cost(type='number' name="cost" value='#{consultation.prescription.cost}')
							td
								input.m-auto.form-control#amtpaid(type='number' name='amountPaid' value='#{consultation.prescription.amountPaid}')
							td
								input.m-auto.form-control#balance(type='number' name='balance' onfocus="getBalance()" value='#{consultation.prescription.balance}')

				br
				br

				input.btn.btn-primary(type="button" value="Back" onclick="history.back()")
				input.btn.btn-primary.float-right(type='submit' value="Save")

	script.
		var cons = #{consultation.prescription}


	script(src='/javascripts/script.js')

