extends layout

block content

  div.container
    div.row
      table.table-striped.table-bodered.col-10.m-auto
        thead.thead-dark
          tr
            th Patient Name
            th Hospital ID
            th Action
        tbody
          tr
            td= patient.firstname + ' ' + patient.lastname
            td= patient.patient_id
            td
              form.col-12(method="post", action="/nurses_station/send/#{patient.patient_id}")
                button.btn.btn-primary(type="submit") Send to Doctor's Office
    div.row
      h6.col-12.text-center
        em For new consultation please record patient's vitals
      
      br

      div.row.form-group.col-10.m-auto
          form.form-group.col-12#vitalsform(method="post", action="/nurses_station/#{patient.patient_id}")
            p.bg-success.col-12.text-white.text-center Vitals Form
            div.input-group.col-12
              label(for="weight") Weight:
              input#weight(type="text" name="weight" placeholder="Weight(KG)" required)
              label(for="blppdPressure") Blood Pressure:
              input#bp(type="text" name="bloodPressure" placeholder="Blood Pressure(mmHg)" required)
              br
              br
            div.input-group.col-12
              label(for="temperature") Temperature:
              input#temp(type="text" name="temperature" placeholder="Temperature(C)" required)
              label(for="heartrate") Heart Rate:
              input#temp(type="text" name="heartRate" placeholder="Heart Rate(BPM)" required)
            input.col-12.btn.btn-primary(type='submit' value="Save & Send to Doctor's Office")
      br

  script.
    var use = '#{user.username}'.toString()  
  script(src='/javascripts/login.js')
