extends layout

block content

  div.container
    div.row
      div.col-12.col-lg-5
        img.img-thumbnail(src="data: #{patient.picture.contentType};base64, #{patient.picture.data.toString('base64')}" height=200 width=200)

      div.col-12.col-lg-5.offset-lg-2
        h3.col-xs-12= patient.firstname + ' ' + patient.lastname
          span= " (Hospital ID: " + patient.patient_id + ")"
          h5#age.col-xs-12
          h5#phone= "Phone Number: " + patient.phone
          h5#addres= "Contact Address: " + patient.address
          h5#nok= "Next of Kin (Name): " + patient.nokName
    br
    br

    form.col-12(method="post", action="/nurses_station/send/#{patient.patient_id}")
      button.btn.btn-primary(type="submit") Send to Doctor's Office
    hr

    h6
      em Send to Doctor for follow-up consultation.
      br
      br

      em For new consultation please record patient's vitals
    
    br

    div.row.form-group.col-12
        form#vitalsform(method="post", action="/nurses_station/#{patient.patient_id}")
          p.btn-success Vitals Form
          div
            label(for="weight") Weight:
            input#weight(type="text" name="weight" placeholder="Weight(KG)" required)
            label(for="blppdPressure") Blood Pressure:
            input#bp(type="text" name="bloodPressure" placeholder="Blood Pressure(mmHg)" required)
            br
            br
            label(for="temperature") Temperature:
            input#temp(type="text" name="temperature" placeholder="Temperature(C)" required)
            label(for="heartrate") Heart Rate:
            input#temp(type="text" name="heartRate" placeholder="Heart Rate(BPM)" required)
          input.col-12.btn.btn-primary(type='submit' value="Save & Send to Doctor's Office")
    br
