extends layout

block content
	div.container
		div.row
			section.col-10.mx-auto.mb-3
				div.card
					div.card-header
						h5.text-center User Administration
					div.card-body
						a(href='/users/new') Register New User
						a.float-right(href='/users') View, Edit, and Delete Users

			table.table.table-striped.table-bodered.col-10.m-auto
				p.text-success= message
				thead.thead-dark
					tr
						th Name
						th Email
						th Username
						th Role
						th Date Created
						th Action
						th Action
				tbody
				each person in users
					tr
						td= person.firstname + ' ' + person.lastname
						td= person.email
						td= person.username
						td= person.role
						td
						td
							a.btn.btn-secondary(href='/users/#{person.username}/edit') Edit Details
						td
							form(method='post' action='/users/#{person.username}/delete')
								button.btn.btn-danger(type='submit') Delete User

			script.
				var use ='#{user.username}'.toString()
			script(src='/javascripts/login.js')